{% extends 'base.html.twig' %}

{% block title %}Main{% endblock %}

{% block body %}

<div class="container">
    <h3>There should be content here</h3>
    <br>
    <a href="{{ url('genres') }}">Genres</a>
</div>
{% endblock %}
