{% extends 'base.html.twig' %}

{% block title %}Main{% endblock %}

{% block body %}

<div class="container">
    <h3>There should be content here</h3>
    <br>
    <a href="{{ url('genres') }}">Genres</a>
    <h4>TODO:</h4>
    <ul class="nav flex-column">
        <li class="nav-item">Quality parser (4K quality is available)</li>
        <li class="nav-item">Genre parser (hits date)</li>
        <li class="nav-item">Image parser upgrade (must clearly distinguish which is which)</li>
        <li class="nav-item">Image link resolver (not just fastpic)</li>
        <li class="nav-item">The ability to create/edit genres/studios/images (banners)</li>
        <li class="nav-item">Syncing a database with a remote one</li>
        <li class="nav-item">Search</li>
        <li class="nav-item">Download link</li>
        <li class="nav-item">Layout</li>
        <li class="nav-item">etc</li>
    </ul>
</div>
{% endblock %}
