<!--Not used-->
<div class="dropdown-toggle" id="dropdownGenreList" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="material-icons">clear_all</i>
</div>
<div class="dropdown-menu" aria-labelledby="dropdownGenreList">
    {{> _genre_dropdown_list.hbs }}
</div>
