<!--Not used-->
<div class="dropdown-toggle" id="dropdownStudioList" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="material-icons">movie</i>
</div>
<div class="dropdown-menu dropdown-menu-xl-left" aria-labelledby="dropdownStudioList">
    {{> _studio_dropdown_list.hbs }}
</div>
