// ==UserScript==
// @name         OnlyWeb Dev
// @namespace    http://localhost/
// @version      0.8
// @description  try to take over the world!
// @updateURL    <%= backend_url %>/tampermonkey.js
// @downloadURL  <%= backend_url %>/tampermonkey.js
// @author       You
// @match        https://tracker.net/forum/*
// @icon         data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR4nGNgYGD4DwABBAEAX+XDSwAAAABJRU5ErkJggg==
// @connect      localhost
// @connect      babepedia.com
// @connect      fastpic.org
// @connect      imagebam.com
// @connect      imagevenue.com
// @connect      imgbox.com
// @connect      turboimagehost.com
// @connect      *
// @grant        GM_xmlhttpRequest
// @grant        GM_getResourceText
// @grant        GM_addElement
// @grant        GM_addStyle
// @grant        unsafeWindow
// @run-at       document-end
// ==/UserScript==

(async function () {
  'use strict'
  const cssUrl = '<%= backend_url %>/assets/index.css'
  const jsUrl = '<%= backend_url %>/assets/index.js'

  function log(...args) {
    console.log('[OnlyWeb]', ...args)
  }

  async function addCss() {
    const response = await GM.xmlHttpRequest({ url: cssUrl }).catch((e) => log(e))
    if (!response) {
      return
    }
    const css = response.responseText
    GM_addStyle(css)
  }

  async function addJs() {
    const response = await GM.xmlHttpRequest({ url: jsUrl }).catch((e) => log(e))
    if (!response) {
      return
    }
    const js = response.responseText
    eval(js)
  }

  function addApp() {
    const element = document.createElement('div')
    element.setAttribute('id', 'app')
    document.body.insertBefore(element, document.body.firstChild)
    app.mount('#app')
  }

  await addCss()
  await addJs()
  addApp()
})()
