#  Not working
version: '3.9'

services:
  nginx:
    build:
      context: .
      dockerfile: docker/nginx/Dockerfile
    tty: true
    restart: unless-stopped
    ports:
      - "443:443"
    volumes:
      - ./:/var/www/html

  fpm:
    build:
      context: .
      dockerfile: docker/fpm/Dockerfile
    tty: true
#    restart: unless-stopped
    working_dir: /var/www/html
    expose:
      - "9000"
    volumes:
      - ./:/var/www/html/
