@import 'helpers/variables';

@import '~bootstrap';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~material-design-icons/iconfont/material-icons.css';

@import 'components/hr_text';
@import 'components/genre_list_item';
@import 'components/studio_list_item';

body {
    background-color: $default-background-color;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

header.topic-header {
    margin: 0;
    padding: 0;
};

header.topic-header > h2 {
    margin: 0;
    padding: 0;
}

a:visited {
    color: #636;
}

.form-control::-webkit-input-placeholder {
    opacity: 0.5;
}
