@import 'helpers/variables';

@import '~bootstrap';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~material-design-icons/iconfont/material-icons.css';

body {
    background-color: lightgray;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
