@import 'helpers/variables';

@import '~bootstrap';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~material-design-icons/iconfont/material-icons.css';

body {
    background-color: lightgray;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

header.topic-header {
    margin: 0;
    padding: 0;
};

header.topic-header > h2 {
    margin: 0;
    padding: 0;
}
