// Copied from Internet
.hr-text {
  overflow: hidden;
  text-align: center;
  opacity: 0.75;
}

.hr-text:before,
.hr-text:after {
  background-color: gray;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.hr-text:before {
  right: 0.5em;
  margin-left: -50%;
}

.hr-text:after {
  left: 0.5em;
  margin-right: -50%;
}
