
.non-styled-list {
  list-style-type: none;
}

.icon-box {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.studio-first-letter {
  margin: 0.5em 0 0 0.4em;
  font-weight: 500;
}

.studio-list-item {
  margin: 0.2em 0 0 0;
}