<div class="container">
    <h5>OnlyTracker project</h5>
    <p>
        <a href="/topics">Topics</a>
    </p>
    <p>
        <a href="/genres">Genres</a>
    </p>
    <p>
        <a href="/studios">Studios</a>
    </p>
    <p>
        <a href="/forums">Forums</a>
    </p>
    <p>
        <a href="/search">Search</a>
    </p>
</div>
