<ul class="non-styled-list js-forum-list">
    {{#each forums as | forum |}}
        <li class="studio-list-item" data-id="{{ forum.id }}">
            <a href="/topics?forums={{ forum.id }}">
                {{ forum.title }}
            </a>
        </li>
    {{ else }}
        <p>No forums</p>
    {{/each}}
</ul>
