<ul class="non-styled-list js-genre-list" style="column-count: 5;">
    {{#each groups as | group |}}
        <li class="genre-first-letter">
            {{@key}}
        </li>
        {{#each group }}
            {{> _genre_item.hbs this }}
        {{/each}}
    {{ else }}
        <p>No genres</p>
    {{/each}}
</ul>
