<div class="container-xl">
    <div class="pb-2 mt-4 mb-2 border-bottom">
        Page header
    </div>
    <div class="pb-2 mt-4 mb-2 border-bottom">

    </div>
    {{#each this as |topic|}}
        {{! mod.js
            If called without arguments, then the first argument in mod.js will be options
            If called with one argument, then the first argument in mod.js will be that argument, and the second will be options
            If called with two arguments, then the first and second arguments in mod.js will be the first and second respectively, and the third will be options
        }}
        {{#unless @first }}
            {{#mod @index 50 }}
                <div class="hr-text">{{ @index }}</div>
            {{/mod}}
        {{/unless}}

        {{> _topic.hbs topic }}
    {{/each}}
</div>
